@model VacancyLocationModel
@{
    ViewData["Title"] = "Vacancy";
}

<div>
    <div id="vacancies">
        <h2>@Model.Title</h2>
        <h4>@Model.LocationName</h4>
        <p>@Model.Description</p>
        <p>@Model.PostedDate</p>
    </div>
</div>

