@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p></p>
    <div id="vacancies">
        <div class="container">
            <div class="row">
                <div class="col-lg col-md-6 text-center">
                    <div><i class='fa fa-clock-o'></i></div>
                    <p>Flexible work hours to suit your lifestyle.</p>
                </div>
                <div class="col-lg col-md-6 text-center">
                    <div><i class='fa fa-bicycle'></i></div>
                    <p>A new bike to get around town!</p>
                </div>
                <div class="col-lg col-md-6 text-center">
                    <div><i class='fa fa-umbrella'></i></div>
                    <p>Discounted health insurance.</p>
                </div>
                <div class="col-lg col-md-6 text-center">
                    <div><i class='fa fa-map-marker'></i></div>
                    <p>Contemporary offices in a great location.</p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div id="loading">
                        <div class="loader" v-if="isLoading"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container vacancies" >
            <div class="row">
                <div class="col-md">
                    <h2>Our Vacancies</h2>
                </div>
                <div class="col-md">
                    <div v-if="!isLoading">
                        <select v-model="locationDd">
                            <option v-for="location in locations" v-bind:value="location.id">
                                {{location.name}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <div v-if="!isLoading">
                <div v-for="vacancy in filteredLocations">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-9"><h3><a :href="`/Home/${vacancy.id}`" >{{vacancy.title}}</a></h3></div>
                                            <div class="col-md-3"><h4>{{vacancy.locationName}}</h4></div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12"><p>{{vacancy.description.substring(0, 130)}}</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2"><p>{{ vacancy.postedDate | moment }}</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

