@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="text-center">Love your career. It's worth it.</h1>
    <p></p>
    <div id="vacancies">
        <div class="text-centre" id="loading">
            <div class="loader" v-if="isLoading"></div>
        </div>

        <h2>Our Vacancies</h2>
        <div v-if="!isLoading">
            <select v-model="locationDd">
                <option v-for="location in locations" v-bind:value="location.id">
                    {{location.name}}
                </option>
            </select>
            <div v-for="vacancy in filteredLocations">
                <h3><a :href="`/Home/${vacancy.id}`" >{{vacancy.title}}</a></h3>
                <h4>{{vacancy.locationName}}</h4>
                <p>{{vacancy.description.substring(0, 130)}}</p>
                <p>{{vacancy.postedDate}}</p>
            </div>
        </div>
    </div>
</div>

